@font-face {
  font-family: Product Sans;
  src: url(../public//Fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
  font-family: Product Sans B;
  src: url(../public/Fonts/Product\ Sans\ Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Product Sans;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: orangered;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0vw 10vw;
  z-index: 99;
}

nav a,
i {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
}

#cntr-nav {
  display: flex;
  gap: 3vw;
}

nav i {
  font-size: 1.5vw;
}

.ri-menu-fill {
  visibility: hidden;
}

.one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.one h1 {
  font-size: 25vw;
  font-family: Product Sans B;
  color: #fff;
}

#phone {
  position: absolute;
  /* width: 40%; */
  z-index: 2;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}

#qr-img {
  position: absolute;
  top: 10%;
  left: 32%;
  width: 15%;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;

}

#phone_m {
  position: absolute;
  z-index: 2;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
  visibility: hidden;
}

#qr-img_m {
  position: absolute;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
  visibility: hidden;

}

#phone_m1 {
  position: absolute;
  z-index: 2;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
  visibility: hidden;
}

#qr-img_m1 {
  position: absolute;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
  visibility: hidden;

}

#orange {
  position: absolute;
  width: 20%;
  z-index: 3;
  top: 55%;
  right: 30%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}


.two {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #8b3789;
}

.lft-two,
.rght-two {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
  height: 100%;
}

.lft-two svg {
  margin-top: 50vh;
  width: 90%;
  transform: rotateX(50deg);
}

.rght-two h1 {
  color: #fff;
  font-size: 5vw;
}

.rght-two p {
  color: #fff;
  width: 80%;
}

.three {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 70vh;
  /* margin-top: 10vh; */
  border-radius: 20px;
  background-color: #fff;
  margin-left: 50vw;
  flex-direction: column;
}

.card h1 {
  margin-top: 4vh;
  font-size: 3vw;
}


#input {
  width: 30vw;
  height: 7vh;
  border-radius: 5px;
  border-color: rgba(246, 246, 246, 0.945);
  text-align: start;
  padding-left: 10px;

}

#btn {
  width: 5vw;
  height: 6vh;
  border-radius: 5px;
  text-align: center;
  border-color: rgba(246, 246, 246, 0.945);
  background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#btn2 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 8vw;
  height: 6vh;
  border-radius: 5px;
  text-align: center;
  border-color: rgba(246, 246, 246, 0.945);
  background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

#svg {
  width: 20vw;
}

#inst {
  color: #fff;
}

#download {
  cursor: pointer;
  margin-top: 5px;
  width: 7vw;
  height: 6vh;
  border-radius: 5px;
  text-align: center;
  border-color: rgba(246, 246, 246, 0.945);
  background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.footer_bg {
  position: absolute;
  top: 320%;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;

}

.footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer-distributed {
  color: #222;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  position: absolute;
  bottom: 68%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #222;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: rgb(224, 86, 86);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #222;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #222;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #222;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #222;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #222;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #3b3933;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #222;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


@media (max-width: 880px) {

  html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

  .footer-distributed {
    font: bold 14px sans-serif;
    margin-bottom: 20vh;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}

@media screen and (max-width:1000px) and (min-width:651px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  nav {
    height: 5vh;
    justify-content: space-between;
  }

  nav a {
    font-size: 15px;
    margin: 2vh 0 1vh 0;
  }

  .card {
    height: 40vh;
  }

  .card h2 {
    font-size: 1vw;
  }

  #qr-img {
    visibility: hidden;
  }

  #phone {
    visibility: hidden;
  }

  #qr-img_m {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 5%;
    left: 32%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    visibility: visible;
  }

  #phone_m {
    position: absolute;
    width: 380px;
    height: 300px;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    visibility: visible;
  }

  #qr-img_m1 {
    position: absolute;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    visibility: hidden;
  }

  #phone_m1 {
    position: absolute;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    visibility: hidden;
  }

  .one {
    height: 80vh;
  }

  .two {
    height: 70vh;
  }

  .three {
    height: 70vh;
  }

  #input {
    width: 40vw;
    height: 5vh;
    border-radius: 5px;
    border-color: rgba(246, 246, 246, 0.945);
    text-align: start;
    padding-left: 10px;

  }

  #btn {
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(246, 246, 246, 0.945);
    background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  #btn2 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 16vw;
    height: 4vh;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(246, 246, 246, 0.945);
    background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  .buttons {
    width: 35vw;
  }

  #download {
    cursor: pointer;
    margin-top: 5px;
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(246, 246, 246, 0.945);
    background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  .card h2 {
    font-size: 10px;
  }

  .footer {
    margin-top: 50vh;
    padding-top: 50vh;
  }

  .footer-distributed {
    color: #222;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    /* padding: 55px 50px; */
    position: absolute;
    top: 0%;
  }

  .footer_bg {
    position: absolute;
    top: 250%;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }
}

@media screen and (max-width:650px) and (min-width:1px) {
  body {
    overflow-x: hidden;
}
.container {
    margin: 0;
    padding: 0;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 100%;
  }
}
@keyframes myfirst {
  0% {
    left: -25%;
  }

  100% {
    left: 60%;
  }
}
  html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
 


  nav {
    width: 100vw;
    height: 5vh;
    flex-direction: column;
    display: flex;
    align-items: center;

  }

  .one h1 {
    padding-top: 350px;
  }

  nav a {
    font-size: 15px;
    margin: 0vh 0 1vh 0;
  }

  #navtop {
    padding-top: 10px;
  }

  .lft-two {
    display: none;
  }

  .rght-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rght-two h1 {
    font-size: 7vw;
  }

  .card {
    height: 30vh;
    width: 50vw;
    margin-left: 1.6vw;
  }

  #svg {
    width: 130px;
  }

  .card h1 {
    margin-top: 2vh;
  }

  .card h2 {
    font-size: 1vw;
  }

  #qr-img {
    visibility: hidden;
  }

  #phone {
    visibility: hidden;
  }

  #qr-img_ {
    visibility: hidden;
  }

  #phone_ {
    visibility: hidden;
  }

  #qr-img_m1 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    visibility: visible;
    padding-top: 10px;
  }

  #phone_m1 {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    visibility: visible;
  }

  .one {
    height: 70vh;
    width: 100%;
  }

  .two {
    height: 90vh;
    width: 100%;

  }

  .three {
    height: 70vh;
    width: 100%;

  }

  #input {
    width: 80vw;
    height: 5vh;
    border-radius: 5px;
    border-color: rgba(246, 246, 246, 0.945);
    text-align: start;
    padding-left: 10px;

  }

  #btn {
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(246, 246, 246, 0.945);
    background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  #btn2 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 30vw;
    height: 4vh;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(246, 246, 246, 0.945);
    background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  .buttons {
    width: 50vw;
  }

  #download {
    cursor: pointer;
    margin-top: 5px;
    width: 25vw;
    height: 4vh;
    border-radius: 5px;
    text-align: center;
    border-color: rgba(246, 246, 246, 0.945);
    background-image: linear-gradient(to right top, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

  .card h2 {
    font-size: 10px;
  }

  .footer-distributed {
    color: #222;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    /* padding: 55px 50px; */
    position: absolute;
    top: 0%;
  }

  .footer-left h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
  }

  .footer_bg {
    position: absolute;
    top: 255%;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
  }
}

.about_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));
}

.about_h1 {
  padding-left: 2vw;
  font-size: 5vw;
  font-family: Product Sans B;
  color: #fff;
}


.about_para {
  padding-left: 2vw;
  font-size: 1.2vw;
  color: #fff;
  width: 80%;
  margin: 10px 0px 10px 0px;

}

.about_para ul {
  padding-left: 2.1vw;
}